*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(41, 40, 40);
    color: white;
}
@keyframes slidesIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#header{
    width: 95%;
    height: 30vh;
    background-image: url(images/WhatsApp\ Image\ 2022-12-22\ at\ 23.31.37.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 400px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
   width: 200px; 
}
.container{
    padding: 10px 10%;
}
nav ul li{
   display: inline-block;
   list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background-color:#00feba ;
position: absolute;
left:0;
bottom: -6px;
transition: 0.6s;
}

nav ul li a:hover::after{
    width: 100%;
}
nav .fa-solid{
    display: none;
  }

.header-text{
margin-top: 5%;
font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    animation: slidesIn 5s ease forwards;
}

.header-text h2{
    font-size: 20px;
    font-style: italic;
    color: #00feba;
    text-align: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 80%;
    text-align: right;
    background-color: #333; /* Change to your preferred background color */
    z-index: 100; /* Adjust as needed */
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    animation: fadeIn 1s ease;
  }
  
  .popup-content {
    background-color: #f7f2ef;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: slideIn 1s ease;
    color: #055e46;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
 .popup-content p{
    color: #333;
    font-style: italic;
    font-size: 20px;
  } 
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Animation keyframes for fade-in and slide-in */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translate(-50%, -100%);
    opacity: 0;
    }
    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }


  #about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
flex-basis: 60%;

}
.subtitles{
    font-size: 60px;
    font-weight: 600;
    color: white;

}
.title{
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
}




  
  /* Add other styles as needed for the popup content */
  
body{
    background-color: rgb(51, 49, 49);
}

.card{
 width: 90%;
 max-width: 470px ;
 background: linear-gradient(135deg, #00feba, #5b548a);
 color: white;
 margin: 100px auto 0;
 border-radius: 21px;
 padding: 40px 35px;
 text-align: center;

}                          

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    outline: none;
    border: none;
    background-color: #ebfffc;
    color: rgb(46, 44, 44);
    padding:10px 25px ;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width:16px ;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
margin-top: 50px;
}

.col{
   display: flex;
   align-items: center;
   text-align: left; 
}

.col img{
    width: 40px;
    margin-right: 10px;

}

.humidity .wind{
    font-size: 29px;
    margin-top: -6px;
}

.error{
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top:10px ;
    display: none;
}

.weather{
    display: none;
}




@media only screen and (max-width:800px ){
    #header{
        height: 100vh;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 200px;
        
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #00feba;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
        .header-text{
            margin-top: 20%;
            font-size: 30px;
            }
            .subtitles{
                font-size: 40px;
            }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    #header{
        width: 95%;
        height: 20vh;
        background-image: url(images/WhatsApp\ Image\ 2022-12-22\ at\ 23.31.37.jpeg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 70%;
    
        
    }
    .popup{
    width: 60%;
    height: 70%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .center{
        font-size: 14px;
    }
      }

      .contact-left{
        flex-basis: 35%;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .contact-left p{
        margin-top: 30px;
    }
    .social-icons{
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        margin-bottom: 20px;
     }
     .social-icons a:hover{
        color: #00feba;
        transform: translateY((-5px));
     }
     .btn{
        text-decoration: none;
        border-radius: 5px;
        background-color:#00feba;
        padding: 10px;
        color: black;
        font-size: 20px;
        margin-bottom: 50px;
        overflow: hidden;
     }
     .btn:hover{
        background-color: #494747;
     }
     .contact-right form{
        width: 100%;
     }
     form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background-color: #494747;
        padding: 15px;
        margin: 15px 0;
        color: white;
        font-size: 18px;
        border-radius: 6px;
     }
     footer{
        background-color: black;
        color: white;
       text-align: center;
       padding: 3px;
       margin-top: 40px;
       position: relative;
      }